.margin{
    padding: 0;
    margin: 0;
}
.yel{
    color:  #D9EF78 !important;
}
.yield{
    background-color:#D9EF78  !important;
}
// .backk{
//      position: absolute;
//      margin: -20px;
//      padding: -20px;
// }
.btn{
    border-radius: 50px !important;

}

.btnhh{
     @media screen and (max-width: 990px){
        height: 50px !important;
        margin-top: -80px !important;
        
    } 
}

.logo{
    @media screen and (max-width: 990px){
        width: 50px !important;
        
    } 
}
.toast-container{
    z-index: 10;
}